.quem-sou-eu{
    margin: 2rem .9rem;
}

#appbar{
    background-color: var(--principal);
    color: var(--bg-color);
    box-shadow: none;
    align-items: start;
    height: 6rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#dialog-btn-voltar{
    font-size: 1.1rem;
    margin: 1.4rem 1rem;
    padding: 1rem;
    position: fixed;
    background-color: var(--principal);
}

.sobre-campo_texto{
    margin: 0 1rem;
}

.sobre-titulo{
    font-size: 2rem;
}

.sobre-titulo_span{
    color: var(--secundaria);
    font-weight: 800;
    font-size: 2.5rem;
}

.sobre-texto{
    font-size: 1.4rem;
    margin: 1rem 0;
    color: #555555 ;
}

.habilidade-lista, .experiencia-lista{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.habilidades-lista-titulo, .experiencias-lista-titulo{
    font-size: 2rem;
    margin: 1.5rem 0;
}

.experiencias-lista-titulo{
    margin-top: 5rem;
}

.experiencia-lista{
    margin: 5rem 20rem;
}

#btn-link-sobre_mim{
    font-family: 'League Spartan', sans-serif;
    font-size: 1rem;
    text-transform: none;
    font-weight: 300;
}


@media only screen and (min-width: 701px) {
    .quem-sou-eu{
        margin: 0 4rem;
    }

    .sobre{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3rem;
    }

    .sobre-titulo{
        font-size: 3rem;
    }

    .sobre-titulo_span{
        font-size: 3.5rem;
    }

    #dialog-btn-voltar{
        font-size: 1rem;
    }

    #dialog-btn-voltar:hover{
        border: 2px solid var(--secundaria);
        color: var(--bg-color);
    }

    #btn-link-sobre_mim{
        background-color: var(--principal);
        padding: 1rem;
        color: var(--bg-color);
    }

    #btn-link-sobre_mim:hover{
        color: var(--secundaria);
    }



}

@media only screen and (max-width: 700px) {
    #btn-link-sobre_mim{
        font-family: 'League Spartan', sans-serif;
        text-transform: none;
        font-size: 1.2rem;
        color: var(--principal) !important;
        font-weight: 400;
    }
}


