.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    border-bottom: 1px solid var(--detalhes);
    width: 99%;
}

.header-fixed{
    background-color: var(--bg-color);
    transition: .2s ease-in;
    position: fixed;
    width: 100vw;
    height: 5rem;
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--detalhes);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.list{
    list-style: none;
}

.list-link{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    margin: 1.3rem 0;
}

.list-link > a{
    text-decoration: none;
    cursor: pointer;
}

#btn-link{
    text-transform:none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    color: var(--principal);
}

#btn-link:hover{
    color: var(--secundaria-hover);
    background-color: transparent;
    transition: ease .3s;
}


/* ===== MEDIA QUERY ===== */

@media only screen and (min-width: 900px) {
    .header{
        flex-direction: row;
        justify-content: space-around;
        margin: 1rem auto;
    }
    
    .list-link{
        width: 100%;
        margin: 1.3rem 2rem;
    }
}