.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
    background-color: var(--bg-card-of);
 
 }

 .card-campo_texto{
    margin: 1.5rem 0;
    text-align: center;
}

.card-titulo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secundaria);
    margin: 1rem 0 0 0;
}

.card-texto{
    font-size: 1rem;
    color: #656565;
    margin-top: 1rem;
}

.projetos-photo{
    width: 100%;
    margin: 2rem 0;
}


/* ===== BUTTON SAIBA MAIS ===== */

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    margin: -1rem 0 2rem 0;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--secundaria);
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: var(--bg-color);
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid var(--bg-color);
    border-right: 0.125rem solid var(--bg-color);
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: var(--principal);
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: var(--bg-color);
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: var(--bg-color);
   }



/* ===== MODAL ===== */
.modal-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    position: absolute;
    background-color: var(--bg-color);
    width: 85%;
    padding: 1rem;
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
}

.modal-texto{
    margin: 1rem;
    width: 94%;
}

#modal-modal-title{
    font-size: 1.7rem;
    margin: 2rem 0 .7rem 0;
    font-weight: 600;
    color: var(--principal);
}

#modal-modal-text{
    margin: 0;
    width: 100%;
}

.modal-img_photo{
    width: 100%;
}

#modal-btn-abrir_projeto, #modal-btn-repositorio{
    color: var(--principal);
    padding: .8rem 1rem;
    font-size: .8rem;
    width: 100%;
    cursor: pointer;
    border-radius: .2rem;
}

#modal-btn-abrir_projeto{
    transition: ease-in-out .5s;
    background-color: var(--secundaria);
    color: var(--bg-card);
    margin: 1.5rem 0 1rem 0;
}

#modal-btn-abrir_projeto:hover{
    background-color: var(--secundaria-hover);
    color: var(--bg-card);
}

#modal-btn-repositorio{
    background-color: var(--principal);
    color: var(--bg-color);
}   

#modal-btn-repositorio:hover{
    background-color: #202020;
}


 /* ===== MEDIA QUERY =====  */

@media only screen and (min-width: 900px) {
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-projetos{
        max-width: 92%;
    }

    .projetos-img{
        height: 16rem;
    }

    .modal{
        display: flex;
    }
    
    .modal-texto{
        margin: 0 0 0 3rem;
    }

    #modal-modal-title{
        font-size: 2.6rem;
        margin: 0 0 1rem 0;
    }

    .modal-btn{
        display: flex;
    }

    #modal-btn-repositorio{
        margin: 1.5rem 0 1rem 1rem;
    }
    
    .card{
        margin: 2rem 2rem;
        width: 90%;
    }

  

}

