.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
    background-color: var(--bg-card-of);
 
 }

 .card-campo_texto{
    margin: 1.5rem 0;
    text-align: center;
}

.card-titulo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secundaria);
    margin: 1rem 0 0 0;
}

.card-texto{
    font-size: 1rem;
    color: #656565;
}

.projetos-photo{
    width: 100%;
    margin: 2rem 0;
}


#projetos-btn-link{
    color: var(--principal);
    width: 100%;
    margin: 1rem 0;
    padding: .5rem 2rem;
    border-radius: 0;
    cursor: pointer;
}

#projetos-btn-link:hover{
    transition: ease-in-out .5s;
    text-decoration: underline;
    background-color: var(--secundaria);
    color: var(--bg-card);
}



/* ===== MODAL ===== */
.modal-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    position: absolute;
    background-color: var(--bg-color);
    width: 85%;
    padding: 1rem;
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
}

.modal-texto{
    margin: 1rem;
    width: 94%;
}

#modal-modal-title{
    font-size: 1.7rem;
    margin: 2rem 0 .7rem 0;
    font-weight: 600;
    color: var(--principal);
}

#modal-modal-text{
    margin: 0;
    width: 100%;
}

.modal-img_photo{
    width: 100%;
}

#modal-btn-abrir_projeto, #modal-btn-repositorio{
    color: var(--principal);
    padding: .8rem 1rem;
    font-size: .8rem;
    width: 100%;
    cursor: pointer;
}

#modal-btn-abrir_projeto{
    transition: ease-in-out .5s;
    background-color: var(--secundaria);
    color: var(--bg-card);
    margin: 1.5rem 0 1rem 0;
}

#modal-btn-abrir_projeto:hover{
    background-color: var(--secundaria-hover);
    color: var(--bg-card);
}

#modal-btn-repositorio{
    background-color: var(--principal);
    color: var(--bg-color);
}   

#modal-btn-repositorio:hover{
    background-color: #202020;
}


 /* ===== MEDIA QUERY =====  */

@media only screen and (min-width: 900px) {
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-projetos{
        max-width: 92%;
    }

    .projetos-img{
        height: 16rem;
    }

    .modal{
        display: flex;
    }
    
    .modal-texto{
        margin: 0 0 0 3rem;
    }

    #modal-modal-title{
        font-size: 2.6rem;
        margin: 0 0 1rem 0;
    }

    .modal-btn{
        display: flex;
    }

    #modal-btn-repositorio{
        margin: 1.5rem 0 1rem 1rem;
    }
    
    .card{
        margin: 2rem 2rem;
        width: 90%;
    }

  

}







 /* ===== KEYFRAMES ===== */

  @-webkit-keyframes shadow-drop-2-bottom  {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px) translateY(-12px);
              transform: translateZ(50px) translateY(-12px);
      -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-2-bottom {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px) translateY(-12px);
              transform: translateZ(50px) translateY(-12px);
      -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }