@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --principal: #040f0f;
  --principal-hover: #2d3a3a;
  --secundaria: #2ba84a;
  --secundaria-hover: #30913e;
  --bg-color: #fcfffc;
  --bg-card-of: #f1f3f1;
  --bg-card: #f5f8f5;
  --detalhes: #d4d4d4;
}